.env
node_modules/
dist/
build/
*.log
*.sqlite
*.db
npm-debug.log
yarn-debug.log
/coverage
.DS_Store
Thumbs.db
*.tmp
*.swp
.idea/
.vscode/
docker-compose.override.yml
.dockerenv
seed.js
seedProducts.js