/* Footer.module.css */

.footer {
    background-color: #643197;
    color: #f0f0f0;
    padding: 0 20px; /* Adjusted padding */
    text-align: center;
    font-size: 0.9em;
    height: 70px; /* Adjusted to match header height */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.footer a {
    color: #35dca7;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}